<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aadharapp.cloud.csc.aadharapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Connection.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroSlider"
            android:label="@string/app_name"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Main.Splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver
            android:name=".Connection.ConnectivityListener"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Main.Services"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Centers.Centers"
            android:label="@string/center"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Datetime.Datepicker"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Datetime.DatePick"
            android:label="@string/title_activity_date_pick"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>